In [5]:
#Printing in python
print("Hello Python 101")

Hello Python 101

In [1]:
# is used to comment

In [2]:
#There are three object types in python- strings, boolean and numbers (float and integer)

#Integer
4

4

In [3]:
#Float
40.5

40.5

In [4]:
#Strings
"Hiii"

'Hiii'

In [20]:
#Boolean
TRUE

NameError: name 'TRUE' is not defined

In [6]:
#Arithematic operations in python
#addition
45+90

135

In [7]:
#Subtraction
45-35

10

In [8]:
#Multiplication
4*5

20

In [ ]:
#division always gives result as float
20/5

In [5]:
#to get the integer in division 
8//3 #no rounding off

2

In [10]:
#follows the mathematical conventions
2*4-2

6

In [13]:
#Creating the variable
my_variable=1
my_variable:1 # to denote the value
my_variable # to print the variable

1

In [15]:
# finding the version of python we are using
import sys
print(sys.version)

3.7.6 (default, Apr  3 2020, 00:02:16)
[GCC 7.5.0]

In [17]:
# Understanding some errors

# This gives the NameError
frint("HI")

NameError: name 'frint' is not defined

In [1]:
#This gives the SyntaxError 
print("Hi)

SyntaxError: EOL while scanning string literal (<ipython-input-1-f950446d233e>, line 2)

In [2]:
# This gives the ValueError
int("simran")

ValueError: invalid literal for int() with base 10: 'simran'

In [21]:
# To knowt he minimum and the maximum number that we can represent through the float 
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [25]:
# To get the type of the object
type("a")

str

In [3]:
#Converting one object type to the other
type(int(4.1)) #but we lose some value over here
type(float(4))

float

In [4]:
# Coverting number into string
str(4)
str(4.5)

'4.5'

In [21]:
# Converting the boolean to number and vice versa
bool(1.0
int(True)

True

In [10]:
# Converting string to number but it gives error sometimes if the string does not contain some number
int("45") # This will give error if it is 45.4 even
float("45.4")

45.4

In [15]:
# variables- storing the values in memory to be used later
wage = 7
# To calculate and store the wage for the 4 days we can use another variable
wage_4_days = wage * 4
#Now suppose if we want to give bonus to the worker this time of 30
bonus_wage_total = wage_4_days +30
# This oeparation can be done in single line by python convention
total_wage = wage * 4 + 30

58