# Data types in Python 
- Strings -->Characters
-Numbers
    -int
    -float
-Boolean

# Identifiers
- Case Sensitive
- Start with any letter A - Z a - z or an _ (underscore)
- May or May not be Followed by a combination of letters underscore or digits(0-9)
- No Special characcter allowed :
- Reserved words cannot be used : if else break for
- Builtin function : should not be used : print len dir

# Type Conversion
- int to float conversion
- float to int conversions
- int or float to str conversions or vice versa
- str to int or float is vased on the values that are stored inside 
- bool to str
- str to bool based on string
- int or float to bool based on what is passed
- bool to float or int

In [1]:
# int to float
float(45)

45.0

In [2]:
#float to int
int(44.6845)

44

In [3]:
# int to string
str(44)

'44'

In [4]:
# float to string
str(45.2315)

'45.2315'

In [5]:
# str to  float
float('44.23')

44.23

In [6]:
#  str to int
int('44')

44

In [7]:
# be careful
int('44.44')

ValueError: invalid literal for int() with base 10: '44.44'

In [8]:
# be careful
float('simran')

ValueError: could not convert string to float: 'simran'

In [9]:
float(45), float(48.21), d

(45.0, 48.21)

# Sets
- {item1, item2,...}
    - unique items
    - unordered and unindexed
    - cannot access the individual elements

In [69]:
# heterogenous
examp = {'simran', 5, 45.6}
examp

{45.6, 5, 'simran'}

In [72]:
# To create a set
example_set = set()
# to identify the type of data
type(example_set)

set

In [50]:
basket = {'apple', 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'banana', 'bread', 'sugar', 'apple'}
# 11 entries
basket

{'apple', 'banana', 'bread', 'milk', 'peach', 'sugar', 'yoghurt'}

### Union and intersection

In [2]:
basket1 = {'apple', 'milk', 'oranges', 'yoghurt', 'bread', 'butter', 'eggs', 'broccoli', 'lettuce', 'cheese', 'tomato', 'cold drinks'}
basket2 = {'milk', 'cheese', 'detergent', 'toilet paper', 'cold drinks', 'jam', 'pizza base'}

In [9]:
#  Union
print(basket1.union(basket2))

{'lettuce', 'apple', 'detergent', 'bread', 'butter', 'toilet paper', 'pizza base', 'cold drinks', 'yoghurt', 'oranges', 'tomato', 'milk', 'cheese', 'broccoli', 'jam', 'eggs'}

In [10]:
# Intersection
print(basket1.intersection(basket2))

{'cheese', 'milk', 'cold drinks'}

In [11]:
# Difference (A-B)
# to give the all elements in basket1 but absent in basket2
print(basket1.difference(basket2))

{'lettuce', 'apple', 'yoghurt', 'oranges', 'tomato', 'butter', 'bread', 'broccoli', 'eggs'}

In [3]:
# Difference (B-A)
# This give different resutl than from earlier
# gives all the elements that are present in basket2 but absent basket1

print(basket1.difference(basket2))

{'tomato', 'butter', 'oranges', 'apple', 'broccoli', 'eggs', 'lettuce', 'bread', 'yoghurt'}

In [1]:
# Symmetric difference 
# to list only the differences
# (A Union B) - (A intersection B)
A = {1,2,3,4,5}
B = {3,4,5,6,7}

In [4]:
# Union
A.union(B)

{1, 2, 3, 4, 5, 6, 7}

In [5]:
# Intersection
A.intersection(B)

{3, 4, 5}

In [9]:
# Difference
A.difference(B)

{1, 2}

In [10]:
# Difference
B.difference(A)

{6, 7}

In [11]:
# Symmetric Difference
A.symmetric_difference(B)

{1, 2, 6, 7}

In [51]:
# add function to add some new element to the set.
print('Before add : ', basket)
basket.add('new element')
print('After add : ', basket)

Before add :  {'milk', 'banana', 'apple', 'peach', 'sugar', 'bread', 'yoghurt'}
After add :  {'new element', 'milk', 'banana', 'apple', 'peach', 'sugar', 'bread', 'yoghurt'}

In [52]:
print('Before add : ', basket)
# This makes changes to actual set
basket.add('new element2')
print('After add : ', basket)

Before add :  {'new element', 'milk', 'banana', 'apple', 'peach', 'sugar', 'bread', 'yoghurt'}
After add :  {'new element', 'milk', 'banana', 'new element2', 'apple', 'peach', 'sugar', 'bread', 'yoghurt'}

# List
- ordered heterogenous data structures
- can contain duplicate values
- can be accessed using the indices
- mutable

In [6]:
basket_list = ['apple', 'banana', 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'bread', 'sugar', 'apple']

In [47]:
print(basket_list)

['apple', 'banana', 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'bread', 'sugar', 'apple']

In [39]:
hetero = [1, 'a', 25.88, True, 'Nimisha',[1,3,4,5]]

In [54]:
# This adds a new item to end of the list 
# A list can be added to the list through append function
basket_list.append('JAM')

In [55]:
basket_list

['apple',
 'banana',
 'bread',
 'milk',
 'yoghurt',
 'peach',
 'yoghurt',
 'bread',
 'sugar',
 'apple',
 'JAM']

### Slicing
- start : stop : step
- start - beginning index | default = 0 | inclcluded
- stop - end index | default = lent(list) | excluded
- step - increment value to generate this index sequence | default = 1

In [6]:
#Indices 0    1    2    3    4    5    6    7    8    9    10   11 
alist = [1 , 'a' , 2 , 'b' , 3 , 'c' , 4 , 'd' , 5 , 'e' , 6 , 'f']
#Indices -12 -11 -10   -9   -8   -7   -6   -5   -4   -3   -2   -1

In [58]:
# start = 0 and stop = len(alist)
alist[ : ]

[1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'f']

In [59]:
# start = 4 and stop = len(alist)
alist[4 :]

[3, 'c', 4, 'd', 5, 'e', 6, 'f']

In [61]:
# start = 0 and stop = 8
alist[ : 8]

[1, 'a', 2, 'b', 3, 'c', 4, 'd']

#### Slicing through positive index

In [62]:
# start = 4 and stop = 8
alist[4:8]

[3, 'c', 4, 'd']

In [63]:
# start = 1 and stop = 9 and stride =2
alist[1 : 9 : 2]

['a', 'b', 'c', 'd']

In [64]:
# start = 1 and stop = 9 stride = 3
alist[1 : 9 : 3]

['a', 3, 'd']

In [67]:
alist[8 : 1]

[]

In [68]:
# start = 0 and stop = len(alist) and stride = 1
alist[ : : 1]

[1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'f']

In [73]:
# start = 2 and stop = 9 stride = 1
alist[ 2 : 9 : 1]

[2, 'b', 3, 'c', 4, 'd', 5]

In [74]:
# finding data type of the alist
type(alist)

list

#### Slicing through negative index

In [3]:
alist[ 9 : 2 : -1]

['e', 5, 'd', 4, 'c', 3, 'b']

In [4]:
alist[ -2: -9 : -1]

[6, 'e', 5, 'd', 4, 'c', 3]

### Functions for adding elements to the list
- append
- extend
- insert

##### Append

In [17]:
# len function is to find the length of the list
print('Before append : \n', basket_list, '\n Length of the list : ', len(basket_list))
#  to add item at the end and not as an individual element
basket_list.append('appended item')
print('After  append : \n', basket_list, '\n Length of the list : ', len(basket_list))

Before append :
 ['apple', 'banana', 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'bread', 'sugar', 'apple']
 Length of the list :  10
After  append :
 ['apple', 'banana', 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'bread', 'sugar', 'apple', 'appended item']
 Length of the list :  11

In [18]:
# appending of the list at the end
print('Before append : \n', basket_list, '\n Length of the list : ', len(basket_list))
appended_item2 = ['555', 54]
basket_list.append(appended_item2)
print('After  append : \n', basket_list,'\nLength of the list : ', len(basket_list))

Before append :
 ['apple', 'banana', 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'bread', 'sugar', 'apple', 'appended item']
 Length of the list :  11
After  append :
 ['apple', 'banana', 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'bread', 'sugar', 'apple', 'appended item', ['555', 54]]
Length of the list :  12

#### Extend

In [19]:
# extend adds as the individual elements 
# to changes are made to the actual list
print('Before extend : \n', basket_list, '\n Length of the list : ', len(basket_list))
appended_item2 = ['555', 54]
basket_list.extend(appended_item2)
print('After  extend : \n', basket_list,'\nLength of the list : ', len(basket_list))

Before extend :
 ['apple', 'banana', 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'bread', 'sugar', 'apple', 'appended item', ['555', 54]]
 Length of the list :  12
After  extend :
 ['apple', 'banana', 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'bread', 'sugar', 'apple', 'appended item', ['555', 54], '555', 54]
Length of the list :  14

#### Insert
- at particular index of choice
- can add elements individually or as a list

In [21]:
print('Before insert : \n', basket_list, '\n Length of the list : ', len(basket_list))
appended_item2 = ['555', 54]
basket_list.insert(2,appended_item2)
print('After  insert : \n', basket_list,'\nLength of the list : ', len(basket_list))

Before insert :
 ['apple', 'banana', 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'bread', 'sugar', 'apple', 'appended item', ['555', 54], '555', 54]
 Length of the list :  14
After  insert :
 ['apple', 'banana', ['555', 54], 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'bread', 'sugar', 'apple', 'appended item', ['555', 54], '555', 54]
Length of the list :  15

### Functions for removing the elements from the list
- remove 
- pop

#### Remove 
- can remove single element at  a time

In [23]:
# it removes only one element even if there are two of its kind
print('Before remove : \n', basket_list, '\n Length of the list : ', len(basket_list))
appended_item2 = ['555', 54]
basket_list.remove(appended_item2,)
print('After  remove : \n', basket_list,'\nLength of the list : ', len(basket_list))

Before remove :
 ['apple', 'banana', ['555', 54], 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'bread', 'sugar', 'apple', 'appended item', ['555', 54], '555', 54]
 Length of the list :  15
After  remove :
 ['apple', 'banana', 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'bread', 'sugar', 'apple', 'appended item', ['555', 54], '555', 54]
Length of the list :  14

In [24]:
# another element is removed by using the function another time
print('Before remove : \n', basket_list, '\n Length of the list : ', len(basket_list))
appended_item2 = ['555', 54]
basket_list.remove(appended_item2)
print('After  remove : \n', basket_list,'\nLength of the list : ', len(basket_list))

Before remove :
 ['apple', 'banana', 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'bread', 'sugar', 'apple', 'appended item', ['555', 54], '555', 54]
 Length of the list :  14
After  remove :
 ['apple', 'banana', 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'bread', 'sugar', 'apple', 'appended item', '555', 54]
Length of the list :  13

In [25]:
# it cannotlo remove multiple elements
print('Before remove : \n', basket_list, '\n Length of the list : ', len(basket_list))
basket_list.remove('apple','banana')
print('After  remove : \n', basket_list,'\nLength of the list : ', len(basket_list))

Before remove :
 ['apple', 'banana', 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'bread', 'sugar', 'apple', 'appended item', '555', 54]
 Length of the list :  13

TypeError: remove() takes exactly one argument (2 given)

#### Pop
- removes the element at the end or at the specific position
- removes only single element

In [26]:
print('Before remove : \n', basket_list, '\n Length of the list : ', len(basket_list))
basket_list.pop(12)
print('After  remove : \n', basket_list,'\nLength of the list : ', len(basket_list))

Before remove :
 ['apple', 'banana', 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'bread', 'sugar', 'apple', 'appended item', '555', 54]
 Length of the list :  13
After  remove :
 ['apple', 'banana', 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'bread', 'sugar', 'apple', 'appended item', '555']
Length of the list :  12

In [27]:
print('Before pop : \n', basket_list, '\n Length of the list : ', len(basket_list))
basket_list.pop(7)
print('After  pop : \n', basket_list,'\nLength of the list : ', len(basket_list))

Before pop :
 ['apple', 'banana', 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'bread', 'sugar', 'apple', 'appended item', '555']
 Length of the list :  12
After  pop :
 ['apple', 'banana', 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'sugar', 'apple', 'appended item', '555']
Length of the list :  11

In [28]:
print('Before pop : \n', basket_list, '\n Length of the list : ', len(basket_list))
basket_list.pop(7, 12)
print('After  pop : \n', basket_list,'\nLength of the list : ', len(basket_list))

Before pop :
 ['apple', 'banana', 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'sugar', 'apple', 'appended item', '555']
 Length of the list :  11

TypeError: pop() takes at most 1 argument (2 given)

### Other functions of the list
- count
- index
- sort : homogenous
- reverse :
- clear
- copy

#### Copy

In [7]:
# This refers to the same memory location
alist_copy = alist

In [8]:
print('Alist copy before modification', alist_copy)
alist_copy[4] = 'change' 
print('Alist copy after modification', alist_copy)
print('\nActual alist', alist)

Alist copy before modification [1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'f']
Alist copy after modification [1, 'a', 2, 'b', 'change', 'c', 4, 'd', 5, 'e', 6, 'f']

Actual alist [1, 'a', 2, 'b', 'change', 'c', 4, 'd', 5, 'e', 6, 'f']

In [19]:
# A different memory location is created in case of copy function
alist_copy2 = alist.copy()
print('Alist_copy2 before modification', alist_copy2)
alist_copy2[4] = 'new!change!' 
print('Alist_copy2 after modification', alist_copy2)
print('\nActual alist', alist)

Alist_copy2 before modification [1, 'a', 2, 'b', 'change', 'c', 4, 'd', 5, 'e', 6, 'f']
Alist_copy2 after modification [1, 'a', 2, 'b', 'new!change!', 'c', 4, 'd', 5, 'e', 6, 'f']

Actual alist [1, 'a', 2, 'b', 'change', 'c', 4, 'd', 5, 'e', 6, 'f']

In [21]:
print('ID for alist :', id(alist))
print('ID for alist_copy :', id(alist_copy))
print('ID for alist_copy2 :', id(alist_copy2))

ID for alist : 140190222316080
ID for alist_copy : 140190222316080
ID for alist_copy2 : 140190222084528

### Multidimensional List

In [27]:
multi_dimensional_list = [['simran',5.5],['bob',6],['sahi',5.3]]

In [28]:
print('Element number 1 : ', multi_dimensional_list[0])
print('Element number 2 : ', multi_dimensional_list[1])
print('Element number 3 : ', multi_dimensional_list[2])

Element number 1 :  ['simran', 5.5]
Element number 2 :  ['bob', 6]
Element number 3 :  ['sahi', 5.3]

In [29]:
element_1 = multi_dimensional_list[0]
element_1

['simran', 5.5]

In [30]:
print('Element number 1 of element_1 ', element_1[0])
print('Element number 2 of element_1 ', element_1[1])

Element number 1 of element_1  simran
Element number 2 of element_1  5.5

# Tuples
- These are list like structures but immutable (cannot change number of elements in tuple)
- No modification
- Faster than lists
- Memory efficienct
- once the tuple is fixed with the specific data type at  a particular location it cannot be changed
- accessible through indices

#### Creating a empty tuple

In [31]:
# To create an empty tuple
empty_tuple = ()
type(empty_tuple)

tuple

#### To create tuple with a single element

In [39]:
# This will create the integer object and not tuple
single_element = (3)
single_element

3

In [36]:
type(single_element)

int

In [37]:
# This will create the tuple with single element
tuple_with_single_element = (4 ,)
tuple_with_single_element

(4,)

In [38]:
type(tuple_with_single_element)

tuple

In [7]:
# Creating some of the tuples
basket_tuple =tuple (basket_list)
mixed_tuple = ('one', 'two','three',4,5,6)
name_tuple = tuple('simran')
print('\nbasket_tuple : ', basket_tuple)
print('\nmixed_tuple : ', mixed_tuple)
print('\nname_tuple : ', name_tuple)

basket_tuple :  ('apple', 'banana', 'bread', 'milk', 'yoghurt', 'peach', 'yoghurt', 'bread', 'sugar', 'apple')

mixed_tuple :  ('one', 'two', 'three', 4, 5, 6)

name_tuple :  ('s', 'i', 'm', 'r', 'a', 'n')

In [45]:
# if list with single element is passed then it is converted to tuple by adding a ','
list_single_element =[4]
tuple(list_single_element)

(4,)

In [46]:
# Multiple assignments
a,b,c,d,e = (2,3,4,5,6)

In [47]:
a

2

In [48]:
type(a)

int

#### How tuples are faster?

In [49]:
import timeit

###### Example : 1

In [52]:
timeit.timeit('[43, 123]*1000')

3.917960573002347

In [53]:
timeit.timeit('(43, 123)*1000')

3.855364023009315

###### Example : 2

In [54]:
timeit.timeit('(100,123)*1000')

3.9044184840022353

In [55]:
timeit.timeit('[100, 123]*1000')

4.229068675995222

#### How tuples are memory efficient

###### Example : 1

In [5]:
lis = [43, 123]*1000
lis.__sizeof__() # to get the size in memory

16040

In [4]:
tup = (43, 123)*1000
tup.__sizeof__()

16024

###### Example : 2

In [8]:
basket_list.__sizeof__()

120

In [9]:
basket_tuple.__sizeof__()

104

#### Tuples are accessible

In [10]:
basket_tuple[4]

'yoghurt'

In [17]:
tup_1 = ( 23, 67, 'retreat', (34,87), {34, 87, 98, 34}, [54,89,90,12])
tup_1

(23, 67, 'retreat', (34, 87), {34, 87, 98}, [54, 89, 90, 12])

In [18]:
len(tup_1)

6

In [19]:
tup_1[4].add(45)

In [20]:
tup_1 # Note that number of elements do not change in the tuple

(23, 67, 'retreat', (34, 87), {34, 45, 87, 98}, [54, 89, 90, 12])

In [24]:
# To check the number of elements are same or not
len(tup_1)

6

#### The data type of the particular index cannot be changes once assigned in tuple

In [28]:
tup_1[1]= 43

TypeError: 'tuple' object does not support item assignment

# Dictionaries
- keys : unique immutable python objects : strings or numbers are used as keys
- values : any aribitrary Python data objects : numbers strings list tuples sets dictionaries

In [8]:
empty_dictionary = {}
type(empty_dictionary)

dict

In [21]:
count_capital = { 'Australia' : 'Canberra', 'Russia' : 'Moscow', 'New Zealand' : 'Wellington','India' :'New Delhi', 'China': 'Beijing' }
basket_dictionary = dict([('fruits',['apple','banana','peach','oranges']),('dairy',['yogurt','milk']),('vegetables','tomato')])
mixed_dictionary = {1 : 'A' , 'char' : 43 }

In [9]:
print('empty_dictionary : ', empty_dictionary)
print('count_capital : ', count_capital)
print('basket
      _dictionary : ' , basket_dictionary)
print('Mixed dictionary : ', mixed_dictionary)

empty_dictionary :  {}
count_capital :  {'Australia': 'Canberra', 'Russia': 'Moscow', 'New Zealand': 'Wellington', 'India': 'New Delhi', 'China': 'Beijing'}
basket_dictionary :  {'fruits': ['apple', 'banana', 'peach', 'oranges'], 'dairy': ['yogurt', 'milk'], 'vegetables': 'tomato'}
Mixed dictionary :  {1: 'A', 'char': 43}

In [3]:
count_capital

{'Australia': 'Canberra',
 'Russia': 'Moscow',
 'New Zealand': 'Wellington',
 'India': 'New Delhi',
 'China': 'Beijing'}

In [15]:
basket_dictionary

{'fruits': ['apple', 'banana', 'peach', 'oranges'],
 'dairy': ['yogurt', 'milk'],
 'vegetables': 'tomato'}

In [16]:
# to get the length of the dictionary
len(basket_dictionary)

3

In [10]:
# to get the data type
type(basket_dictionary)

dict

#### Dictionary items are not directly accesssible but we can use list for that

In [24]:
l = [('fruits',['apple','banana','peach','oranges']),
                    ('dairy' ,['yogurt','milk']),
                    ('vegetables' , 'tomato')]

In [25]:
l

[('fruits', ['apple', 'banana', 'peach', 'oranges']),
 ('dairy', ['yogurt', 'milk']),
 ('vegetables', 'tomato')]

In [27]:
len(l)

3

In [28]:
l[0] # to access the key and the value

('fruits', ['apple', 'banana', 'peach', 'oranges'])

In [29]:
l[0][0] # to access the key

'fruits'

In [32]:
l[0][1] # values

['apple', 'banana', 'peach', 'oranges']

#### To view the dictionary items

In [5]:
# to view dictionary items
basket_dictionary.items()

dict_items([('fruits', ['apple', 'banana', 'peach', 'oranges']), ('dairy', ['yogurt', 'milk']), ('vegetables', 'tomato')])

#### Updating dictionary

In [8]:
# Update the existing value
print('Before update ', count_capital)
count_capital['India'] = 'Delhi'
print('After update ', count_capital)

Before update  {'Australia': 'Canberra', 'Russia': 'Moscow', 'New Zealand': 'Wellington', 'India': 'Delhi', 'China': 'Beijing'}
After update  {'Australia': 'Canberra', 'Russia': 'Moscow', 'New Zealand': 'Wellington', 'India': 'Delhi', 'China': 'Beijing'}

In [12]:
# Adding the new value to the dictionary
print('Before update ', count_capital)
count_capital['Nepal'] = 'Kathmandu'
print('After update ', count_capital)

Before update  {'Australia': 'Canberra', 'Russia': 'Moscow', 'New Zealand': 'Wellington', 'India': 'Delhi', 'China': 'Beijing'}
After update  {'Australia': 'Canberra', 'Russia': 'Moscow', 'New Zealand': 'Wellington', 'India': 'Delhi', 'China': 'Beijing', 'Nepal': 'Kathmandu'}

In [14]:
# To update the multiple values and add new values
print('Before update ', count_capital)
count_capital.update({'India' : 'New Delhi', 'Britain' : 'London'})
print('After update ', count_capital)

Before update  {'Australia': 'Canberra', 'Russia': 'Moscow', 'New Zealand': 'Wellington', 'India': 'Delhi', 'China': 'Beijing', 'Nepal': 'Kathmandu'}
After update  {'Australia': 'Canberra', 'Russia': 'Moscow', 'New Zealand': 'Wellington', 'India': 'New Delhi', 'China': 'Beijing', 'Nepal': 'Kathmandu', 'Britain': 'London'}

#### To Remove values from the dictionary

In [15]:
print('Before pop ', count_capital)
print('Popped value : ', count_capital.pop('Nepal'))
print('After pop ', count_capital)

Before pop  {'Australia': 'Canberra', 'Russia': 'Moscow', 'New Zealand': 'Wellington', 'India': 'New Delhi', 'China': 'Beijing', 'Nepal': 'Kathmandu', 'Britain': 'London'}
Popped value :  Kathmandu
After pop  {'Australia': 'Canberra', 'Russia': 'Moscow', 'New Zealand': 'Wellington', 'India': 'New Delhi', 'China': 'Beijing', 'Britain': 'London'}

In [18]:
print('Before pop ', count_capital)
print('Popped value : ', count_capital.popitem())
print('After pop ', count_capital)

Before pop  {'Australia': 'Canberra', 'Russia': 'Moscow', 'New Zealand': 'Wellington', 'India': 'New Delhi', 'China': 'Beijing', 'Britain': 'London'}
Popped value :  ('Britain', 'London')
After pop  {'Australia': 'Canberra', 'Russia': 'Moscow', 'New Zealand': 'Wellington', 'India': 'New Delhi', 'China': 'Beijing'}

##### get list off funcctions/ attributes 
basket_dict.
- press tab

In [24]:
# To get the list of all the functions for a particular object
print(dir(basket_dictionary))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Conditional Statement

if conditional_expression : statements to be exeuted if the conditional expression evvaluates to True block of statements else : # optional block of statements to be exxecuted if the conditional expression evaluates to False

In [3]:
# to check even or odd
number = 22
if number % 2 == 0:
    print('even')
print('END')

even
END

In [5]:
number = 21
if number % 2 == 0:
    print('even')
print('END')

END

In [6]:
number = 44
if number % 2 == 0:
    print('even')
else :
    print('odd')
print('END')

even
END

In [7]:
number = 21
if number % 2 == 0:
    print('even')
else :
    print('odd')
print('END')

odd
END

In [8]:
# grade : 
# above 90 ---> A
# 75 - 90  ---> B
# 55 - 75  ---> C
# 35 - 55  ---> D
# below 35 ---> F

In [12]:
marks = 65
if marks >= 90:
    grade = 'A'
elif marks >= 75:
    grade = 'B'
elif marks >= 55:
    grade = 'C'
elif marks >= 35:
    grade = 'D'
else :
    grade = 'F'
print(grade)

C

In [13]:
countries = ['Malaysia', 'Bhutan', 'Indonesia', 'Nepal', 'Mauritius',  'Cook Islands','Fiji',  'Barbados',
                'British Virgin Islands', 'Dominica','Grenada','Haiti','Jamaica','Montserrat','St. Kitts and Nevis',
                'St. Vincent and the Grenadines','Trinidad and Tobago',
                'El Salvador', 'Qatar']

In [14]:
country = 'Qatar'

In [15]:
country in countries  # checks for a value in  a list

True

In [ ]:
# Loops 
# user defined functions 
# numpy arrays